<meta name="viewport" content="width=device-width, initial-scale=1.0">
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-style:italic;">Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <div class="mainContainer">

    <div class="logoContainer">
      <app-logo></app-logo>
    </div>

    <div id="childContainer">
      <app-register-form></app-register-form>
    </div>
    
  </div>
</ion-content>
