<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="user-profile"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    
    <ion-row>

      <ion-col>
        <img src="../../assets/Images/ITSagramLogo.jpg">
      </ion-col>

      <ion-col>
        <img src="../../assets/Images/ITSagramLogo.jpg">
      </ion-col>
        
      <ion-col>
        <img src="../../assets/Images/ITSagramLogo.jpg">
      </ion-col>

    </ion-row>
    <ion-row>

      <ion-col>
        <img src="../../assets/Images/ITSagramLogo.jpg">
      </ion-col>

      <ion-col>
        <img src="../../assets/Images/ITSagramLogo.jpg">
      </ion-col>
        
      <ion-col>
        <img src="../../assets/Images/ITSagramLogo.jpg">
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col>
        <img src="../../assets/Images/ITSagramLogo.jpg">
      </ion-col>

      <ion-col>
        <img src="../../assets/Images/ITSagramLogo.jpg">
      </ion-col>
        
      <ion-col>
        <img src="../../assets/Images/ITSagramLogo.jpg">
      </ion-col>

    </ion-row>

  </ion-grid>
</ion-content>
